body {
    /* Adjust the "Readable line length" editor setting */
    --file-line-width: 900px;
}

/* Change graph node colour for notes that don't exist */
.graph-view.color-fill-unresolved {
    color: #dc143c;
}

/* Center images */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Remove the title for embedded notes (all our notes have their own title) */
div.embed-title.markdown-embed-title {
    display: none;
}
